**input**

In [ ]:
# variable name can be any thing

round(45.789)

In [ ]:
round(45.56789,1)

In [ ]:
round(45.56789,3)

In [ ]:
- we can take the values directly in python code

      - ex: num=10
- we can take the values from user like from keyboard 

- imagine there is application from we need to fill

- in the applicaton from name

- when we type input()

- a square box will appear

- you need to observe 3 things 

      - square box

       - * mark inside aquare bracket that is brfore the code cell

       - python kernel is black color

- mark and black color means kernel is busy

- first fill the box with some value

- then do enter

**Note**

 - what ever w type in square

In [1]:
a=input()
b=input()
print(a)
print(b)
print(f'The value of a is: {a} and  {b} is :{b}')

 2
 2

2
2
The value of a is: 2 and  2 is :2

In [11]:
a=input()
b=input()
print(a)
print(b)

 6
 9

6
9

In [1]:
# askthe user enter the name
# print the statement

name='farhan khan'
city='parbhani'
country='India'
print(f"My name is {name}, Im from {city}")

My name is farhan khan, Im from parbhani

In [ ]:
name=input()
city=input()
country

In [15]:
input()
input("Enter the Name:")
input("Enter the name:")
input("Enter the city:")
input("Enter")

 form
Enter the Name: khan
Enter the name: khan
Enter the city: pathri
Enter ok

'ok'

In [11]:
# wap take input from user
# n1 and n2
# add the two number
# n1=input("Enter the")

n1=input("Enter the Number1:")  # n1=10
n2=input("Enter the Number2:")  # n2=20
n1+n2

Enter the Number1: 10
Enter the Number2: 10

'1010'

In [17]:
# wap 
# n1 and n2
# add the two number
# n1=input("E")

n1=input("Enter the Number1:")  # n1=100
n2=input("Enter the Number2:")  # n2=200
n1+n2

Enter the Number1: 100
Enter the Number2: 200

'100200'

In [15]:
int('100')

100

In [17]:
n1=int('100')
n2=int('200')
n1+n2

300

In [21]:
n1=int(input("Enter the Number1:")) # n1=int('100')
n2=int(input("Enter the Number2:")) # n2=int('200')
n1+n2

Enter the Number1: 100
Enter the Number2: 200

300

In [21]:
n1='100'
n2='200'
n1+n2

'100200'

In [23]:
n1='100'
n2='200'
int(n1)+int(n2)

300

In [25]:
n1='100'
n2='200'
int(n1+n2)   # wrong method

100200

In [27]:
n1=int(input("Enter the number1:"))
n2=int(input("Enter the number2:"))
n1+n2

Enter the number1: 100
Enter the number2: 200.25

ValueError: invalid literal for int() with base 10: '200.25'

In [29]:
n1=int(input("Enter the number1:"))
n2=float(input("Enter the number2:"))
n1+n2

Enter the number1: 100
Enter the number2: 200.25

300.25

**Eval**

- when ever you listen eval : evaluate
- evaluate is belong to math family
- it will convert integer value to the integer
- it will convert float value to the float only
- directly apply the eval and it will convert into corresponding data type
- when ever you use eval , dont provide string: it will give the error

In [25]:
n1=eval(input("Enter the number1 : "))
n2=eval(input("Enter the number2 : "))
print(n1+n2)

Enter the number1 :  2
Enter the number2 :  2.5

4.5

In [35]:
# eval ==== two cases at a time

n1=float(input("Enter the number1"))
n2=float(input("Enter the number2"))
print(n1+n2)

Enter the number1 100
Enter the number2 200.4

300.4

In [ ]:
c
# Q2) ask the user take the height and breadth find the right angle traingle area
# Q3) ask the user ask the enter length and breadth, calculate area of rectangle
# Q4) ask the user take the radius calculate area of the cirle
# Q5) ask the user how much bill amount
#         how much tip_percentage you want to pay
#         calculate the total bill