**Lamda functions**

In [2]:
def summ(n):
    return(n+10)

summ(10)

20

$pattern-1$

**function with one argument**

- what is the function name

- what id the argument name

- what is the rerturn statement

In [ ]:
# syntax:
# func_name= lamda <arg name> : <return statement>
# function name =summ
# argument name= n
# return stateemnt = n+10

In [6]:
summ= lambda n : n+10
summ(10)

20

In [8]:
def cube(n1):
    return(n1*n1*n1)

cube(10)

1000

In [12]:
def cube(n1):
    return(n1*n1)

cube(5)

25

In [14]:
cube= lambda n1 : n1**3
cube(10)

1000

$pattern-2$

**Function with two argument**

In [19]:
def add(n1,n2):
    return(n1+n2)

add(100,200)

300

In [23]:
add= lambda n1,n2 : n1+n2
add(100,200)

300

In [29]:
avg= lambda n1,n2,n3 : (n1+n2+n3)/3
avg(10,20,30)

20.0

$pattern-3$

**Function with default argument**

In [31]:
avg= lambda n1,n2,n3=100 : round(())
avg(101,20)

SyntaxError: unmatched ')' (1398372424.py, line 1)

$pattern-4$

**if-else**

In [34]:
def greater(n1,n2):
    if n1>n2:
        return(n1)
    else:
        return(n2)
greater(100,200)

200

In [ ]:
# syntax
# func_name = lambda arg1,arg2 : <if out> <if cond> <else> <elseout>

In [36]:
greater = lambda n1,n2: n1 if n1>n2 else n2
greater(10,20)

20

$pattern-5$

**using list**

In [41]:
# Take 5 numbers from a list do the square
# append in a list

l=[1,2,3,4,5]
sq_list=[]
for i in l:
    sq_list.append(i*i)
sq_list

[1, 4, 9, 16, 25]

In [43]:
sq_list = [i*i for i in l]
sq_list

[1, 4, 9, 16, 25]

# map

In [ ]:
lambda arg: op
lambda n : n=10
lambda n : n*n*n

# what is your variable : 'i'
# what is your output   : 'i*i'
# From whenever we ae taking 'i' : list
# syntax:
# lambda <variable>:<cop>,iterator

In [45]:
lambda  i : i*i

In [50]:
map(lambda i : i*i,l)

In [52]:
list(map(lambda i : i*i,l))

[1, 4, 9, 16, 25]

- step-1 : what is a variable

- step-2 : what is the output

- step-3 : what is the iterator

- step-4 : syntax : lambda variable : ouput,iterate

     - iterater canbe list

     - iterator can be tuple

**iterator**.anything can be print using for loop

- step-5 : use **map** to combine function and iterate

    - map( lambda variable : ouput,iterate)

- step-6 : apply list or tuple to save the redult

    - list( map( lambda variable : ouput,iterate))

In [63]:
# L=['hyd','mumbai','chennai']
# o=['HYD','MUMBAI','CHENNAI']

L=['hyd','mumbai','chennai']
list(map(lambda i : i.upper(), L))

['HYD', 'MUMBAI', 'CHENNAI']

In [70]:
# L=['hyd','mumbai','chennai']
# o=['Hd','Mumbai',Chennai]

L=['hyd','mumbai','chennai']
list(map(lambda i : i.capitalize(), L))

['Hyd', 'Mumbai', 'Chennai']

In [67]:
# L=['hyd','mum#bai','che#nai']
# o=['Hd','Mum#bai','Che#nai']

L=['hyd','mum#bai','che#nai']

# when ever if condition are using in a list
# write conditional offer only
# dont write if condition
list(map(lambda i : '#' in i, L))

[False, True, True]

# filter

- Map method , map the each and every elelment with function

- It will give direct answer on each element

- It will give True and False on each element

- whenever we seee True or False

- instead of map apply filter

In [80]:
L=['hyd','mum#bai','che#nai']
list(filter(lambda i : '#' in i.capitalize(),L))

['mum#bai', 'che#nai']

In [76]:
l=[1,2,3,4,5]
sum(l)

15

In [82]:
s=0
for i in l:
    s=s+i
print(s)

15

In [90]:
l
list(filter(lambda i : s1+i, l))

NameError: name 's1' is not defined

**reduce**

- all inbuilt function we can achive using for loop

- for example find sum of list of element

- this we can achive using **sum** : sum(l)

- also this we can achive using normal for loop , by intializing s=0

- the same thinh we can achieve using **reduce**

- reduce available in func_tools packages

In [93]:
import functools

In [95]:
dir(functools)

['GenericAlias',
 'RLock',
 'WRAPPER_ASSIGNMENTS',
 'WRAPPER_UPDATES',
 '_CacheInfo',
 '_HashedSeq',
 '_NOT_FOUND',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_c3_merge',
 '_c3_mro',
 '_compose_mro',
 '_convert',
 '_find_impl',
 '_ge_from_gt',
 '_ge_from_le',
 '_ge_from_lt',
 '_gt_from_ge',
 '_gt_from_le',
 '_gt_from_lt',
 '_initial_missing',
 '_le_from_ge',
 '_le_from_gt',
 '_le_from_lt',
 '_lru_cache_wrapper',
 '_lt_from_ge',
 '_lt_from_gt',
 '_lt_from_le',
 '_make_key',
 '_unwrap_partial',
 'cache',
 'cached_property',
 'cmp_to_key',
 'get_cache_token',
 'lru_cache',
 'namedtuple',
 'partial',
 'partialmethod',
 'recursive_repr',
 'reduce',
 'singledispatch',
 'singledispatchmethod',
 'total_ordering',
 'update_wrapper',
 'wraps']

In [99]:
L=[1,2,3,4,5]
import functools
functools.reduce(lambda summ,i:summ+i,L)

15

In [101]:
from functools import reduce

In [103]:
import random
random.randint(10,20)

from random import randint
randint(10,20)

16

In [105]:
L=[1,2,3,4,5]
import functools
functools.reduce(lambda summ,i:summ+i,L)

from functools import reduce
reduce(lambda summ,i:summ+i,L)

import functools as ft
ft.reduce(lambda summ,i:summ+i,L)

15

In [107]:
L=[1,2,3,4,5]
import functools
functools.reduce(lambda i,summ:summ+i,L)

15

In [109]:
L=[1,2,3,4,5]
import functools
functools.reduce(lambda i,summ=100:summ+i,L)

15

In [111]:
L=[1,2,3,4,5]
import functools
functools.reduce(lambda i,summ:summ+i,L,100)

115

In [ ]:
L=[1,2,3,4,5]
import functools
functools.reduce(lambda i,summ:summ+i,L)   # summ =0
functools.reduce(lambda i,summ:summ+i,L,100)  # summ = 100

In [ ]:
# practice on map , filter , reduce

In [ ]:
# map : no True Flase 
# filter : True False
# refuce: inbuilt functions

# Assignment 
#  [20,1,4,25,67,8,14]  Max value using reduce