- we coverd
 - darta type
 - type casting
 - basic codes using eval and input
 - codition statement
 - Try-except
 - function
 - for and while loop
###################################### part-2 #########################################

- string
- list
- dictionary
- tuple
-

# string

- int

- str

- complex

- initialization
- type
- len
- min
- max
- sorted
- reversed
- in
- for loop with in
- index
- for loop with index
- mutable immutable
- concatenation
- method
- conditions

In [8]:
str1='python'
str1

'python'

In [10]:
str2="python"
str2

'python'

In [12]:
print(str1)   # without quotes

python

- String defined by using single quotes or double quotes

- But python by default will give as single quotes only

- When you print the string,the answer will display without quotes

**doc sring**

- We can write the string using triple quotes

- This method calles as doc string

- It is the way of communication information to the user

- Do not apply triple quotes when you do the code

In [ ]:
import random
random.randint()

**type**

In [21]:
type(str1)

str

In [23]:
len(str1)

6

In [ ]:
 'python'    has 6 letters

In [25]:
max(str1)

'y'

- ascii number of 'y' is greater than compare t other

In [28]:
len('abc123')

6

In [30]:
max('abc123')

'c'

In [32]:
max('321')

'3'

In [34]:
min('abc123')

'1'

In [ ]:
type(<>)
print(<>)
len(<>)
max(<>)
min(<>)

- If we observe the obove pattren 

- its like keyword() 

- These all are inbuilt function 

- inbuilt means these function can use any data types

- means we can apply for string ,list,tuple,,dictionary etc

**diffrence between methodes and unbuilt functions**

- methods come from pacakges

- in order to use any method we need impot the package

- for inbuilt functions no need of any packages

- import random ==== random.randint

- import math ====== math.sqrt

- import time ===== time.sleep

- type() print() min() max() len()

# reversed

- is also inbuilt function

In [40]:
reversed('python')

- When we apply reversed in built functiom

- the output will store at memory

- we can see the output by iteratr a loop

- we can see the ooutput by applying a list type cast

In [44]:
out=reversed('python')
for i in out :
    print(i)

n
o
h
t
y
p

In [56]:
out=reversed('python')
for i in out :
    print(i,end=' ' )

n o h t y p

In [1]:
o=reversed('python')
for i in o :
    print(i,end=' ' )

n o h t y p

In [47]:
int('10')

10

In [3]:
list(reversed('python'))


# eval()
# int()
# float()

# these all are type casting

['n', 'o', 'h', 't', 'y', 'p']

In [51]:
tuple(reversed('python'))

('n', 'o', 'h', 't', 'y', 'p')

In [53]:
reversed(sequence='python')

TypeError: reversed() takes no keyword arguments

In [55]:
import random
random.randint(a=10,b=20)

11

In [ ]:
(a,/)
a=10 === error
10   ==== no error

(a, / ,b)
a=10,b=20 === error
10,20 === no error
10,b=20 === no error

- / means possition only parameters

- before / dont give the variable name

- after / give variable name

# sorted

In [59]:
sorted('python')

['h', 'n', 'o', 'p', 't', 'y']

In [61]:
sorted('python',True)

TypeError: sorted expected 1 argument, got 2

In [63]:
sorted(iterable='python',True)

SyntaxError: positional argument follows keyword argument (511028825.py, line 1)

In [65]:
sorted(iterable='python',reverse=True)

TypeError: sorted expected 1 argument, got 0

In [67]:
sorted('python',reverse=True)

['y', 't', 'p', 'o', 'n', 'h']

In [ ]:
sorted('python',True)                  # error
sorted(iterable='python',True)         # error
sorted(iterable='python',reverse=True) # error
sorted('python',reverse=True)          # works

- type
-len
- max
- min
- reversed
- sorted

# in

In [71]:
'p' in str1

True

In [73]:
for i in str1:
    print(i,end=' ')

p y t h o n

# Q1) wap ask the user how many times 'a' repeated in a given string
- string='hai hai hai'

In [75]:
# idea 
# iterate each letters using in
# apply the condition if that letters equal to 'a'
# then count it 

count=0
string='hai hai hai'
for i in string:
    if i=='a':
        count=count+1

print("the numbers of 'a' are:",count)

the numbers of 'a' are: 3

# Q2) wap to count the number of vowel in a given string

- string= 'hai how are'
- vowel = a,i,o,a,e:5

- non repetaed vowel = a,i,o,e:4

In [8]:
 string1='hai hello how'
for i in string1:
    
    print(i,end='')

hai hello how

In [5]:
 string1='hai hello how'
vowels='aeiou'
for i in string1:
    if i in vowels:
        print(i)

# step-1: i='h' === > 'h' in 'aeiou'  F
# step-2:
# step-3:

a
i
e
o
o

In [12]:
# We are creating a empty room
# We are calling each person
# WE are checking yhat person is available in the room or not 
# if he is not anailable 
#         We are checking the age
#         he is our person

s1='hai how are'
s2='aeiou'
s3=''

for i in s1:
    if i not in s3 and i in s2:
        print(i)
        s3=s3+i
len(s3)
      
# step-1: 
# step-2: 
#

a
i
o
e

4

# index

In [ ]:
-6 -5 -4 -3 -2 -1    # Negative index
p  y  t  h  o  n 
0  1  2  3  4  5     # Possitive index

In [17]:
str1='python'
str1[0]          # [] represent Access
str1[1]
str1[2]
str1[3]
str1[4]
str1[5]

'n'

In [ ]:
len()
type()
eval()
input()
int()
float()

In [19]:
str1='python'
for i in range(5):
    print(i,str1[i])

0 p
1 y
2 t
3 h
4 o

In [27]:
str1='python'
n=len(str1)
for i in range(n):
    print(f"the positive index of  {str1[i]} is {i}")

the positive index of  p is 0
the positive index of  y is 1
the positive index of  t is 2
the positive index of  h is 3
the positive index of  o is 4
the positive index of  n is 5

In [29]:
str1='python'
str1[0]        
str1[2]
str1[3]
str1[4]
str1[5]

str1='python'
n=len(str1)
for i in range(n):
    print(f"the positive index of  {str1[i]} is {i}")

the positive index of  p is 0
the positive index of  y is 1
the positive index of  t is 2
the positive index of  h is 3
the positive index of  o is 4
the positive index of  n is 5

In [3]:
str2='python'
n=len(str2)
for i in range(-6,0):
        print(f"the Negative index of  {str2[i]} is {i}")

the Negative index of  p is -6
the Negative index of  y is -5
the Negative index of  t is -4
the Negative index of  h is -3
the Negative index of  o is -2
the Negative index of  n is -1

In [33]:
# Negative index means negative numbers
#  -6  -5  -4  -3  -2  -1
#  p   y   t   h   o   n 
#  0   1   2   3   4   5


str1='python'
n=len(str1)
for i in range(-n,0):
       print(f"the positive index of  {str1[i]} is {i}")

the positive index of  p is -6
the positive index of  y is -5
the positive index of  t is -4
the positive index of  h is -3
the positive index of  o is -2
the positive index of  n is -1

In [ ]:
# the possitive index of p is 0 and negative index is -6
# the possitive index of y is 1 and negative index is -5

# get the above answer using single for loop only

In [35]:
for i in range(6):
    print(i,i-6)

0 -6
1 -5
2 -4
3 -3
4 -2
5 -1

In [37]:
str1='python'
n=len(str1)
for i in range(n):
    print(f"the positive index of {str1[i]} is {i} and negative index is {i-n}")

the positive index of p is 0 and negative index is -6
the positive index of y is 1 and negative index is -5
the positive index of t is 2 and negative index is -4
the positive index of h is 3 and negative index is -3
the positive index of o is 4 and negative index is -2
the positive index of n is 5 and negative index is -1

**Mutable-immutable**

- mutable means change

- immutable means not able to change

- Example:  'Welocom'
- output:    'Welcom'

- is this posssible using **index operations**? No

- String are **immutable**

- We can not change the letters ussing index

In [40]:
str1='welcom'
str1[2]='L'

TypeError: 'str' object does not support item assignment

In [42]:
l=['w','e','l','c','o','m','e']
l[2]='L'
l

['w', 'e', 'L', 'c', 'o', 'm', 'e']

**When to use range and when to use in**

- in operators acess the element directly

- range operator access the element by using index

- Fro example : str='welcome'

- if you want to access each letter from str

- we can use in and range

- in : for i in str: i becomes w,e,l,o,m,e

- range fir i in range(len(str)): i cecomes 0,1,2,3,4,5,
  - str[i]

**Use the range operator when you required a index use**

In [46]:
str1='welcome'
for i in str1:
    print(i)

for i in range(len(str1)):
    print(str1[i])

w
e
l
c
o
m
e
w
e
l
c
o
m
e

In [ ]:
index ======= means   == number 
in or range == range
how to

In [ ]:
# Q1) count the number of 'a' in given ssring: in
# Q2) count the number of 'a' in a given string : range
# Q3) print the indexed of 'a' in a given string
# Q4) sum the indexed of 'a' in a given string
# string: 'hello how are you'
# Q5) count the all the vowels in a given string : in
# Q6)

# Slice

- Slice means part of string

- It is exactly sam like range operation start,stop,step

- str[start:stop:step]

In [ ]:
s='hai how are you'
# -15  -14  -13   -12  -11
# h     a    i     h    o   w    a  r  e  y  o  u
# 0     1    2  3  4    5   6  7 8

$pattern-1$

**string[start:]**

- start means start value only

- incremennt by one only

- Nothing mentioned at the stop position means till last

In [5]:
s='hai how are you'
s[2:]

'i how are you'

$pattern-2$

**string[start:stop]**

- start means start value only 

- increment by one only

- last=stop-1

- string[2:10]

   - start=2

    - last=10-1=9

In [6]:
s='hai how are you'
s[2:10]

'i how ar'

In [8]:
s[-14:-4]

# start= -14
# last = -4-1 = -5

'ai how are'

In [10]:
s[2:-2]

# start = -2
# last = -2-2 = -3

'i how are y'

In [12]:
s[10:2]

''

In [14]:
for i in range(10,2):
    print(i)

In [16]:
s[2:-2]  # ans 

for i in range(2,-2):     # no ans
    print(i)

**$pattern-3$

**string[start:sstop:steep]**

- start means start value only

- step means how much gap

    - positive value indicate positive direction

         - last=stop-1

     - negative value indicates negative direction

          - last=stop+1

In [20]:
s='hai how are you'
s[2:12:2]

#

'ihwae'

In [22]:
s[2:-2:2]

# start= 2
# step= 2 positive
# last= 12-1= 11

'ihwaey'

In [24]:
s[2:-2:- 2]    # no ans no error

''

In [32]:
print('1:',s[3:13:3])
print('2:',s[3:13:-3])
print('3:',s[4:-13:3])
print('4:',s[4:-13:-3])
print('5:',s[-3:13:3])
print('6:',s[-3:13:-3])
print('7:',s[13:3:3])
print('8:',s[13:3:-3])
print('9:',s[13:-3:3])
print('10:',s[13:-3:-3])
print('11:',s[-13:3:3])

1:  wry
2:
3:
4: h
5: y
6:
7:
8: oe h
9:
10: o
11: i

**Comcatenation**

- Take two string

- Apply + - / *

- Tell me which works and which not work

In [35]:
str1='hello'
str2='hai'
str1+str2

'hellohai'

In [37]:
str1*str2

TypeError: can't multiply sequence by non-int of type 'str'

In [39]:
str1-str2

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [41]:
str1/str2

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [ ]:
* :TypeError: can't multiply sequence by non-int of type 'str'
- : TypeError: unsupported operand type(s) for -: 'str' and 'str
/ : TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [ ]:
- subtrac

In [43]:
str1='hai'
str1*3

'haihaihai'

In [ ]:
str1+str1+str1 === str1*3

**we have coverd**

- initialixation

- len 

- type 

- men 

- max

- reversed

- sorted

- in 

- index

- mutable 

- immutable

- slice

- concatenation

**string method**

In [47]:
# import the package
# dir(package)
str1='abc'
dir('')  # or dir(str1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
# imort package
# package_name.method_name()

# len()
# type()

# upper

- upper is a string method

- Will cinvert string into upper case

In [52]:
str1='hello'
str1.upper()
# upper(str1)    # It is not a inbuilt

'HELLO'

In [54]:
str1='welcom'
str1.upper()

'WELCOM'

In [ ]:
- lower

- casefold

- capitalize

- center

In [56]:
str1='hello brother'
str1.lower()

'hello brother'

In [58]:
str1='hello brother'
str1.casefold()

'hello brother'

In [60]:
str1='hello brother'
str1.capitalize()

'Hello brother'

In [64]:
str1='welcome'
str1.center()

TypeError: center expected at least 1 argument, got 0

In [66]:
s1='hello'
s1.capitalize()

'Hello'

In [68]:
s1='hello'
s1.lower()

'hello'

In [70]:
s1='hello'
s1.casefold()

'hello'

- lower and casefold will give caseless means lower case

In [73]:
:s1='hello'
s1.center(10)

'  hello   '

In [ ]:
'hello' ===== '   hello      '

In [77]:
s1='hello'
s2=s1.center(10 ,'*')
len(s2)

10

In [79]:
s1='gmail'
s1.center(10,'*')

'**gmail***'

**Title**

s='hello how are you'
s.title()

# understand the diffrence
2# capitalize and upper

# Count

In [85]:
str1='hello hai how are you'
# I want to know how many 'a' are available

count=0
for i in str1:
    if i=='a':
        count=count+1

print(count)

2

In [87]:
str1='hello hai how are you'
xstr1.count('a')

# with out using any method

2

In [ ]:
# Q1) str='hello hai how are you'
#     str=''

In [89]:
str1='ola ola ola '
str1.count('ola ola ola')
str1.count(str1)

1

In [91]:
str1.count('uber')

0

In [ ]:
 # Q2) str='ola ola ola'
#     count=3   with out using method

# 19 - 08 - 2024

In [ ]:
e# idea is you need to divide the sentence into words
# you need to iterate each and apply  .title
# again you neeed to concatenate with all the words

In [1]:
str1='ola ola ola '
str1.count('o')

3

In [12]:
str1='ola ola ola'
str1.count('o',2)   # we are searching the number of 'o' after 2nd  index

2

In [14]:
str1='ola ola ola'
str1.count('o',8)

1

In [10]:
str1='ola ola ola'
str1.count('o',2,5)

1

In [16]:
str1='ola ola ola'
str1.count('o',2,4)

0

In [6]:
# o  l  a       o   l   a       o   l   a
# 0  1  2  3    4   5   6  7    8   9   10
str1[2:]

'a ola ola '

In [20]:
# o  l  a       o   l   a       o   l   a
# 0  1  2  3    4   5   6  7    8   9   10
str1[2:4]

'a '

**Replace**

In [26]:
str1='welcome'
# o/p: 'welcome'

In [28]:
str1[2]='L'

TypeError: 'str' object does not support item assignment

In [3]:
str1='welcome'
str1.replace('1','L')

'welcome'

In [32]:
str1='w111come'
str1.replace('1','L')
# by default it will replace all occurence
# old='L'

'wLLLcome'

In [34]:
str1='w111come'
str1.replace('1','L',1)
# old='L'  new='L'
# count=1
# replace

'wL11come'

In [36]:
str1='w111come'
str1.replace('1','L',2)

# w    1    1      1    c    o     m    e
# 0    1    2  3   4    5    6  7  8    9

'wLL1come'

In [38]:
str1='w111come'
str1.replace('1','L',3)

'wLLLcome'

In [40]:
str1='w111come'
str1.replace('1','L',4)

'wLLLcome'

In [5]:
str1='w111come'
str1.replace('c','L',5)

'w111Lome'

In [7]:
# str='restart'
# op='resta$t'
str1=''

In [54]:
str1='restart'
str1=str1.replace('r','$',2)
str1=str1.replace('$','r',1)
print(str1)

resta$t

In [ ]:
str1='restart'
s1=str1[:1]
s1 # 'r'
s2=str1[1:]
s2
s3=s2.replace('r','$')
s3
s4

In [56]:
str1[::-1].replace('r','$',1)[::-1]

'$esta$t'

In [93]:
s1=str1[::-1 ]
s2=s1.replace('r','$',1)
s3=s2[::-1]
s3

'ola ola ola'

In [60]:
s1='hello python hello restart'
s1[:6]

'hello '

**Index-find**

- Index

    - in above example we are counting the 'r' by own 

    - here 'r' is first letter then we are able to do 

    - imagination that 'r' is after 100 character, we are not able to do 

     - the index of the 'r' should come automatically

In [67]:
s='hello hai how are you'
#s[start:stop:step]
#s[start:stop]
s[2:]  # start=2   stop=

'llo hai how are you'

In [69]:
s[:10] # start=0   stop = till last

'hello hai '

In [71]:
s[::] # start=0  stop = tilll last

'hello hai how are you'

In [73]:
s[::-1]

'uoy era woh iah olleh'

In [87]:
str1='ola ola ola'
#str1.count()
#str1.replace()
str1.index('l')
str1.index('l',6)

9

In [95]:
str1='ola ola ola '
str1.replace('z', 'l')

'ola ola ola '

In [97]:
str1.count('z')

0

In [103]:
str1='ola ola ola '
# I want all 'L' indexes
str1.index('l')

# if i want to get 2nd 

str1.index('l',2)
str1.index('l',6)

9

In [111]:
str1='ola ola ola ola ola '
str1.index('l',1+0)
str1.index('l',1+1)
str1.index('l',1+5)
str1.index('l',1+9)
str1.index('l',1+13)

17

In [ ]:
str1='ola ola ola ola ola '
i1=str1.index()

In [113]:
str1='ola ola ola ola ola '
str1.index('l')
str1.index('l',2)
str1.index('l',3)

5

In [115]:
str1='ola ola ola ola ola '
i1=str1.index('l')
i2=str1.index('l',1+i1)

In [123]:
# how do we come up with numbrs of 5,9 and 13

str1='ola ola ola ola ola '
# 2nd index of 'L'
str1.index('l',2)

5

**Find**

- Tell me the difference between index and find

# 20 - 08 - 24

In [ ]:
str1='ola ola ola '
str1.count('z')    # 0
str1.replace('z','a')  # same string
str1.index('z')  # value error
str1.find('z')  # -1

# lstrip-rstrip-strip

In [ ]:
str1='  hai how are you '   # strip  (space on both sied )
str2='hai how are you  '    # rstrip   right side
str3='  hai how are you'     # srtip   left side

In [6]:
str1='  hai how are you ' 
str1.strip()

'hai how are you'

In [10]:
str1='  hai how are you '   # strip  (space on both sied )
str2='hai how are you  '    # rstrip   right side
str3='  hai how are you'

str1.strip(),str2.rstrip(),str3.lstrip()

('hai how are you', 'hai how are you', 'hai how are you')

In [12]:
str2.strip(),str2.rstrip(),str2.lstrip()

NameError: name 'str2' is not defined

# startwith-endwith

In [15]:
str1='hello hai how are you'
str1.startswith('hello')

True

In [17]:
str1='hello hai how are you'
str1.startswith('Hello')

False

In [19]:
str1='hello hai how are you'
str1.endswith('hello')

False

In [21]:
str1='hello hai how are you'
str1.endswith('ou')

True

In [23]:
str1.startswith(str1)
str1.endswith(str1)

True

In [ ]:
'omkar.nallagoni@cognizant.con'
'virat.kohli@rcb.com'
'rohit.sharma@mi.com'

# 3 indexes
# first dot index
# @ index
# second dot index
# apply the slice

In [43]:
str1='omkar.nallagoni@cognizant.con'
i1_dot=str1.index('.')
i2_dot=str1.index('.',1+i1_dot)
i3_dot=str1.index('@')

fname=str1[:i1_dot]
sname=str1[i1_dot+1:i3_dot]

# split

In [48]:
str1='hello hai how are you'
str1.split()

['hello', 'hai', 'how', 'are', 'you']

In [50]:
str1='hello hai, how are you'
str1.split(',')

['hello hai', ' how are you']

In [1]:
str1='hello hai how are you'
str1.split('h')

['', 'ello ', 'ai ', 'ow are you']