# print staement

In [3]:
num1=100
num2=200
num1
num2

200

In [5]:
num1=100
num2=200
print(num1)
print(num2)

100
200

In [1]:
num1=100
num2=200
print(num1,num2)

100 200

In [9]:
num1=100
num2=200
print(num1,num2)
print(10,20,30)
print('hello')

100 200
10 20 30
hello

In [38]:
num1=100
num2=200
print(num1,num2)
print(10,20,30)
print('hello')
print('hello', 'bye')

100 200
10 20 30
hello
hello bye

In [17]:
a=10
b=20
c=a+b
c
# the addition of 10 and 20 is 30
print("the addition of 10 and 20 is 30")
print(" the addition of a and b is c")
print("the addition of",a, "and",b, 'is',c)

the addition of 10 and 20 is 30
 the addition of a and b is c
the addition of 10 and 20 is 30

In [6]:
# Name='python'
#Age='10'
# city='Hyd'
# my name is python Im 10 years old came from Hyd

name='python'
age='10'
city='Hyd'
print("my name is python, Im 10 years old and i came from Hyd")
print("my name is",name,"Im",age,"years old and I came from",city)

my name is python, Im 10 years old and i came from Hyd
my name is python Im 10 years old and I came from Hyd

**format metod**

In [45]:
a=10
b=20
c=a+b

# how you want to write the print
# the addition of 10,20 is 30

print("the addition of 10,20 is 30")

the addition of 10,20 is 30

In [47]:
a=10
b=20
c=a+b
print(" The addition of {},{} is {}")

 The addition of {},{} is {}

In [49]:
a=10
b=20
c=a+b
print("The addition of {},{} is{}".format(a,b,c))

The addition of 10,20 is30

In [10]:
# Take two number
# add
# mul
# sub
# div
# n1=<number one>
# n2=<number two>
# add=<>
# sub=<>
# mul=<>
# div=<>
# the additon of n1 and n2 is  add
# the substracton of n1 and n2 is sub

n1=100
n2=200
add=n1+n2
sub=n1-n2
mul=n1*n2
div=n1/n2

print(" the addition of{} and {} is {}". format(n1,n2,add))
print(" the substrsction of{} and {} is {}". format(n1,n2,sub))
print(" the multiplication of{} and {} is {}". format(n1,n2,mul))
print(" the division of{} and {} is {}". format(n1,n2,div))

 the addition of100 and 200 is 300
 the substrsction of100 and 200 is -100
 the multiplication of100 and 200 is 20000
 the division of100 and 200 is 0.5

**string method**

**end**

In [27]:
print(10)
print(20)

# using two print statement
# we need to write 10,20

10
20

In [29]:
print(10, end='')
print(20)

1020

In [31]:
print(10, end='-->')
print(20)

10-->20

In [53]:
print(10, end='-->')
print(20, end='-->')
print(30)

10-->20-->30

**sepetor method**

In [36]:
# using one print statement
# 10-->20-->30
# print(10, '-->', 20, '-->')

print( 10,20,30, sep='-->')
print(10,20,30,sep='*')

10-->20-->30
10*20*30

In [14]:
# 10=20=30
print(10,end='+')
print(20,end='=')
print(30)

10+20=30

In [5]:
# Q1) wap ask the user take 3 numbers find the average
# the average of num1,num2 and num3 is avg using f string and format method
# idea
# n1=
# n2=
# n3=
#avg=(n1+n2+n3))/3
# print using format
# print using f string

n1=10
n2=20
n3=30
avg=(10+20+30)/3
print(f"the average of {n1},{n2} and {3}is {avg}") 
print("the average of{},{} and {}" .format(n1,n2,n3,avg))

the average of 10,20 and 3is 20.0
the average of10,20 and 30

# Round #

In [8]:
round(40.5678)
# you did not provided any decimal

41

In [14]:
round(40.5678,1)
# 34.7 marks fail 35 round of
# 34.765 fail 35
round(34.765,1)

# after point provide only 1 vale : 34.765==34.8
# after pont provide only 2 value

34.8

In [16]:
round(40.5678,2)  # round figure kerte apan

40.57

In [18]:
round(41.23456789)

41

In [20]:
round(41.23456789,1) # 41.<6>

41.2

In [23]:
round(33.123)

33

In [25]:
round(33.650)

34

In [27]:
round(41.67456789,3)

41.675

In [29]:
# Q1)
n1=10
n2=20
n3=30
avg=(10+20+30)/3
avg1=round(avg,2)
print(f"the average of {n1},{n2} and {3}is {avg}") 
print("the average of{},{} and {}" .format(n1,n2,n3,avg))

the average of 10,20 and 3is 20.0
the average of10,20 and 30

In [31]:
n1=10
n2=20
n3=30
avg=round((10+20+30)/3,2)
print(f"the average of {n1},{n2} and {3}is {avg}") 
print("the average of{},{} and {}" .format(n1,n2,n3,avg))

the average of 10,20 and 3is 20.0
the average of10,20 and 30

In [3]:
# Q2)
# write a programe ask the user take height of the traingle
#                                breadth of the traingle
# calculate the area of the right angle traingle
# formula: 1/2*b*h
# formula: 1/2*breadth*height

breadth=30
height=40
area=1/2*breadth*height
print(f"The area of a right angle traingle having {breadth},{height} is {area}")
print("The area of a right angle traingle having {},{} is {}".format(breadth,height,area))

The area of a right angle traingle having 30,40 is 600.0
The area of a right angle traingle having 30,40 is 600.0

In [56]:
# Q3)
#write ask the user take the radius of circle
#  calculate the area of the circle
# formula: pi*r*r  where pi=3.14

radius=20
pi=3.14
area=pi*radius*radius
print(f"The area of circle having {radius} is {area}")
print("The area of circle having {} is {}".format(radius,area))

The area of circle having 20 is 1256.0
The area of circle having 20 is 1256.0

In [ ]:
# Q4)
# write ask the user take the length and breadth
# calculate area of the rectangle
# formula: lenghth*breadth

In [45]:
# Q5)
# wapp ask the how much bill he wants to pay
#        how much tip percentage he wants to give
#        calculate the totale bill amount

# bill amount=1000
# you want give 10% tip =1000*10/100
# total bill=1000+100=1100

bill_amount=1000
tip_percentage=10
tip_amount=bill_amount*tip_percentage/100
total_bill=bill_amount+tip_amount
print(f"The total bill is : {total_bill}")

The total bill is : 1100.0

In [5]:
# Q6) 
# a story you and dad
print("Son:  hii dad")
print("Dad:  hello beta")
print("Dad: your exame result is out")
print("Son: yes dad")
print("Dad: tell me your percentage")
print("Son: dad i will give you marks find percentage")
print("Dad: give me your marks")

Telugu=91
Hindi=82
English=92
Science=90
Maths=89
Social=94

percentage = (Telugu+Hindi+English+Science+Maths+Social)/6
round_percentage=round(percentage,2)
print(f"Dad : your percentage beta  : {round_percentage} %")

Son:  hii dad
Dad:  hello beta
Dad: your exame result is out
Son: yes dad
Dad: tell me your percentage
Son: dad i will give you marks find percentage
Dad: give me your marks
Dad : your percentage beta  : 89.67 %

In [7]:
# Q7)

 # guy have only dollar
# guy in hotel not have indian rupees o pay

print("Guy: hello waiter come")
print("waiter: how can i help you sir")
print("Guy: i want to eat biryani ")
print("Waiter: ok sir")
print("Guy: give me bill")
print("Waiter: take your bill")
bill=1000
print("Guy: i dont have indian rupees to pay")
print("waiter: we will acept only indian rupees")
print("Guy: how much in dollars?")

one_dollar_in_rupees=84
in_dollar=bill/one_dollar_in_rupees
print(f"Waiter: Around...$ {in_dollar}")
print("Waiter: thanks" )

Guy: hello waiter come
waiter: how can i help you sir
Guy: i want to eat biryani
Waiter: ok sir
Guy: give me bill
Waiter: take your bill
Guy: i dont have indian rupees to pay
waiter: we will acept only indian rupees
Guy: how much in dollars?
Waiter: Around...$ 11.904761904761905
Waiter: thanks