In [ ]:
string='Rashidh'
list=['Rashidh']
tuple=('Rashidh')
set= {'Rashidh'}

In [1]:
Names= ['Ramesh','Suresh','Mahesh']
Age=[21,22,23]
# Ramesh age is 21
# Suresh age is 22

for i in range(len(Names)):
    print(f"{Names[i]} has age {Age[i]}")

Ramesh has age 21
Suresh has age 22
Mahesh has age 23

# 1) Zip

In [4]:
zip(Names,Age)

In [6]:
list(zip(Names,Age))

[('Ramesh', 21), ('Suresh', 22), ('Mahesh', 23)]

In [8]:
for i in zip(Names,Age):
    print(i)

('Ramesh', 21)
('Suresh', 22)
('Mahesh', 23)

In [10]:
a=10,20
a

(10, 20)

In [14]:
a,b=10,20
a

10

In [18]:
for i,j in zip(Names,Age):
    print(f"the {i} age is {j}")

the Ramesh age is 21
the Suresh age is 22
the Mahesh age is 23

# 2)  Dictionary

- Dictionary represents with curly braes

- Dictionary has key : value pair

- {key:value}

In [1]:
d1={'Ramesh':21,'Suresh':22,'Mahesh':23}
d1

{'Ramesh': 21, 'Suresh': 22, 'Mahesh': 23}

In [23]:
type(d1)

dict

In [3]:
d1={'Ramesh':'21','Suresh':'22','Mahesh':'23'}
d1

{'Ramesh': '21', 'Suresh': '22', 'Mahesh': '23'}

In [29]:
d3={21:'Ramesh'}
d3

{21: 'Ramesh'}

In [31]:
d4={'Ramesh':21,'Ramesh':25}
d4 # Latest value

{'Ramesh': 25}

In [ ]:
d5={'Ramesh'}

In [33]:
d6={21:'Ramesh',21:'Suresh'}
d6
 # keys are important
# duplicate keys not allowed

{21: 'Suresh'}

In [ ]:
d7=

In [ ]:
d8

In [ ]:
d9=[1,2,3,]

In [ ]:
# keys are important
list mutable
tuple immutable

In [35]:
d14={'Name':{'Ramesh':25}}
d14

{'Name': {'Ramesh': 25}}

In [39]:
d15={{'Ramesh':25}:'Name'}
d15

TypeError: unhashable type: 'dict'

In [ ]:
len
min
max
sorted 
revers

In [ ]:
d9={[1,2,3,]:'list'}
# keys ar eimportant
# keys should be unique
# list is applied  at key position

In [9]:
d1={'Ramesh':21,'Suresh':22,'Mahesh':23}
d1

{'Ramesh': 21, 'Suresh': 22, 'Mahesh': 23}

In [3]:
len(d1)

3

In [11]:
max(d1)  # keys are important

'Suresh'

In [7]:
min(d1)  # keys are important

'Mahesh'

In [3]:
d1={'Ramesh':21,'Suresh':22,'Mahesh':23}
sorted(d1)

['Mahesh', 'Ramesh', 'Suresh']

In [11]:
list(reversed(d1))

['Mahesh', 'Sursh', 'Ramesh']

In [17]:
for i in [1,2,3]:
    print(i,end=' ')

1 2 3

In [21]:
for i in '123':
    print(i,end='')

123

In [27]:
for i in {'n1':1,'n2':2,'n3':3}:
    print(i,end=' ')

n1 n2 n3

In [35]:
d1={'Ramesh':21,'Suresh':22,'Mahesh':23}
d1['Ramesh']

21

In [37]:
d1['Suresh']

22

In [ ]:
**if want to access value , first we need to use key as index

In [ ]:
d1['Ramesh']
d1['Suresh']
d1['Mahesh']

d1[i]

In [41]:
for i in d1:
    print(i,d1[i])

Ramesh 21
Suresh 22
Mahesh 23

In [49]:
d1={'Ramesh':21,'Suresh':22,'Mahesh':23}
for i in d1:
    print(f"The {i} age is {d1[i]}")

The Ramesh age is 21
The Suresh age is 22
The Mahesh age is 23

In [ ]:
Names= ['Ramesh','Suresh','Mahesh']
Age=[21,22,23]
# Ramesh age is 21
# Suresh age is 22

for i in range(len(Names)):
    print(f"{Names[i]} has age {Age[i]}")

**How to create empty dictionary**

In [52]:
s=''
s=s+'p'
s

'p'

In [54]:
l=[]
l.append(10)
l

[10]

In [56]:
d={}
d['Fruite']='Apple'
d

{'Fruite': 'Apple'}

**create a dictionary using list**

In [7]:
Names= ['Ramesh','Suresh','Mahesh']
Age=[21,22,23]

d={}
d['Ramesh']=21
d['Suresh']=22
d['Mahesh']=23

d[key]=value

NameError: name 'value' is not defined

In [69]:
for i,j in zip(Names,Age):
    print(i,j)

Ramesh 21
Suresh 22
Mahesh 23

In [71]:
d={}
for i,j in zip(Names,Age):
    d[i]=j
d

{'Ramesh': 21, 'Suresh': 22, 'Mahesh': 23}

**How to make list from dictionary**

- dictionary has key and values

- so we can make two lists

- keys and valuesm

In [76]:
keys=[]
values=[]
for i in d:
    keys.append(i)
    values.append(d[i])

keys,values

(['Ramesh', 'Suresh', 'Mahesh'], [21, 22, 23])

In [ ]:
Names= ['Ramesh','Suresh','Mahesh']
Age=[21,22,23]
d={}
for i,j in zip(Names,Age):
    d[i]=j

#################################################

keys=[]
values=[]
for i in d:
    keys.append(i)
    values.append(d[i])

keys,values

**mutable-imutable**

In [79]:
d1={'Ramesh':21,'Suresh':22,'Mahesh':23}
d1['Ramesh']=32
d1

######################
s='hello'
s[0]='HH' # error

{'Ramesh': 32, 'Suresh': 22, 'Mahesh': 23}

- dictionary is mutable
- list is mutable
- string is immutable
- tuple is immutable

In [87]:
d1={'Fruites':{'Apple':'Kashmir'}}
d1['Fruites']['Apple']

'Kashmir'

In [98]:
d2={'Fruites':{'Apple':['Kashmir']}}
d2['Fruites'] ['Apple']
# want Kashmir

['Kashmir']

In [15]:
d3={'Fruites':[{'Apple':'Kahsmir'}]}
d3['Fruites'][0]['Apple']

'Kahsmir'

In [19]:
d4={'Fruites':['Kahsmir']}
d4['Fruites'][0]

'Kahsmir'

In [104]:
d5={'Fruites':['Apple',{'Kashmir':['India']}]}
d5['Fruites'][1]['Kashmir']

['India']

In [106]:
d5={'Fruites':['Apple',{'Kashmir':['India']}]}
d5['Fruites'][1]['Kashmir'][0]

'India'

In [108]:
d6={'Fruites':
    {'Benganapply':
     {'Mango':
      {'Nagpur':
       {'MH':
        {'shivaji':
         'Shamanji'
        }
       }
      }
     }
    }
   }
d6

{'Fruites': {'Benganapply': {'Mango': {'Nagpur': {'MH': {'shivaji': 'Shamanji'}}}}}}

In [ ]:
d6['Fruites']['Benganapply']['Mango']

NameError: name 'dictionary' is not defined

In [ ]:
'clear',
'copy',

# 02 - 09 - 24

In [1]:
d1={'Ramesh':21,'Suresh':22,'Mahesh':23}

In [8]:
keys=[]
values=[]
for i in d1:
    keys.append(i)
    values.append(d1[i])

keys,values

(['Ramesh', 'Suresh', 'Mahesh'], [21, 22, 23])

**Keys**

In [4]:
d1.keys()

dict_keys(['Ramesh', 'Suresh', 'Mahesh'])

In [10]:
keys

['Ramesh', 'Suresh', 'Mahesh']

In [12]:
type(d1.keys())

dict_keys

In [14]:
keys.index('Ramesh')

0

In [25]:
keys.index('Mahesh')

2

In [16]:
d1.keys().index('Ramesh')

AttributeError: 'dict_keys' object has no attribute 'index'

In [ ]:
# direct type to  list type

In [27]:
d1.keys()

dict_keys(['Ramesh', 'Suresh', 'Mahesh'])

In [29]:
list(d1.keys())

['Ramesh', 'Suresh', 'Mahesh']

**values**

In [31]:
d1.values()

dict_values([21, 22, 23])

In [34]:
values

[21, 22, 23]

In [36]:
type(d1.values())

dict_values

In [38]:
list(d1.values())

[21, 22, 23]

In [40]:
d1.items()

dict_items([('Ramesh', 21), ('Suresh', 22), ('Mahesh', 23)])

In [42]:
list(d1.items())

[('Ramesh', 21), ('Suresh', 22), ('Mahesh', 23)]

In [44]:
d1.keys() [0]

TypeError: 'dict_keys' object is not subscriptable

In [46]:
d1={'Ramesh':21,'Suresh':22,'Mahesh':23}
d1

{'Ramesh': 21, 'Suresh': 22, 'Mahesh': 23}

In [48]:
d1.setdefault('Amit')
d1

{'Ramesh': 21, 'Suresh': 22, 'Mahesh': 23, 'Amit': None}

In [50]:
d1.setdefault('Avesh',30)
d1

{'Ramesh': 21, 'Suresh': 22, 'Mahesh': 23, 'Amit': None, 'Avesh': 30}

In [52]:
d1.setdefault('Ramesh')

21

In [56]:
d1.setdefault('Ramesh',35)
d1

{'Ramesh': 21, 'Suresh': 22, 'Mahesh': 23, 'Amit': None, 'Avesh': 30}

In [58]:
d1['Amit']=25
d1

{'Ramesh': 21, 'Suresh': 22, 'Mahesh': 23, 'Amit': 25, 'Avesh': 30}

**file handling**

In [ ]:
File Name                 Type of file

======================structer and semi-structured ===================

Text                     .txt

Word                      .doc or .docx

Pdf                       .pdf

CSV(Exel)                  .csv (Comma seoreated value ) (tabular)

Excel                      .xlsx  (Tabular)

json                       .json (Dictionary key-value)


======================= unstrctured ==========================

XML                        .xml (Image data)

Paruet                     .delta/.parquet (DE)

Delta                      .delta (DE)

Image                       .jpg,.JPEG,.png

Video                        .mp4

Audio                        .mp3